@model WebApplication1.Models.Personel

@{
    ViewData["Title"] = "Create";
}

<h1>Yeni Kayıt</h1>

<h4>Personel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Adsoyad" class="control-label"></label>
                <input asp-for="Adsoyad" class="form-control" />
                <span asp-validation-for="Adsoyad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dogum" class="control-label"></label>
                <input asp-for="Dogum" class="form-control" />
                <span asp-validation-for="Dogum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Kaydet" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
