@model WebApplication1.Models.Personel
<!--viewe gönderdiğimiz nesneye sayfa içerisinde model ile erişiyoruz p nin türünü yukarıya tanıtman lazım oda yukarıdaki gibi oluyor sonrada modeli, bir personel listesiymiş gibi kullanabiliyorum --->
<form method="post">
    <label>
        Adı Soyadı:
        <input name="adsoyad" value="@Model?.Adsoyad" />
    </label>

    <label for="dtDogum">Doğum Tarihi</label>
    <input name="adsoyad" id="dtDogum" type="date" value="@Model?.Dogum.ToString("yyyy-MM-dd")" />
    <br />

    <input type="button" value="Kaydet" />
    <input type="submit" value="Kaydet" />
    <button>Kaydet</button>
</form>
